- content_for :title, "新しい交換日記 - coconikki"

.max-w-lg.mx-auto
  h1.text-xl.mb-6 新しい交換日記を作成

  = render "form", form_url: threads_path, form_method: :post, cancel_path: root_path, submit_text: "作成する"
